{% extends 'menu.html' %}

{% block title %}
    Agregar cursos
{% endblock %}

{% block content %}
<style>
    body {
        background: url('https://static.vecteezy.com/system/resources/previews/005/490/647/non_2x/bright-blue-wallpaper-for-website-banner-abstract-geometric-pattern-with-line-connection-and-light-particle-structure-of-energy-or-global-space-free-vector.jpg') fixed;
        background-size: cover;
    }

    .bg-overlay {
        position: relative;
        background: linear-gradient(45deg,#cbe0ee, #2980b9);
        padding: 20px;
        border-radius: 10px;
        margin-top: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .form-group {
        margin-bottom: 20px;
    }

    @media (max-width: 576px) {
        .col-lg-6 {
            width: 100%;
        }
    }

</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="bg-overlay">
                <h3 class="mb-4">Agregar Curso</h3>
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <form method="POST" action="/cursos/agregar">
                    <div class="form-group">
                        <label for="codigo">Código:</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="creditos">Créditos:</label>
                        <input type="number" class="form-control" id="creditos" name="creditos" required>
                    </div>
                    <div class="form-group">
                        <label for="horas">Horas:</label>
                        <input type="number" class="form-control" id="horas" name="horas" required>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        <a href="/cursos" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
