{% extends 'menu.html' %}

{% block title %}
    Cursos
{% endblock %}

{% block content %}
<style>
  

    body {
        background: url('https://static.vecteezy.com/system/resources/previews/005/490/647/non_2x/bright-blue-wallpaper-for-website-banner-abstract-geometric-pattern-with-line-connection-and-light-particle-structure-of-energy-or-global-space-free-vector.jpg') fixed;
        background-size: cover;
    }


</style>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="mt-4" style="color: white;">Lista de Cursos</h3>
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Créditos</th>
                            <th>Horas</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                        <tr>
                            <td>{{ curso.codigo }}</td>
                            <td>{{ curso.nombre }}</td>
                            <td>{{ curso.creditos }}</td>
                            <td>{{ curso.horas }}</td>
                            <td>
                                <a href="/cursos/editar/{{ curso.codigo }}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="/cursos/eliminar/{{ curso.codigo }}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
